<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <title></title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="../dist/css/teste-daniel.css">

</head>
<body ng-controller="ctrl">

<div class="container" style="margin-top: 24px">


    <div class="list-group">
        <div class="list-group-item">
            <select ng-model="currentTodo.user" class="form-control pull-right" style="max-width: 15%;">
                <option value="user1" selected="selected">User1</option>
                <option value="user2">User2</option>
            </select>
            <input class="form-control" style="max-width: 80%;" ng-model="currentTodo.title" ng-keypress="insert($event)" placeholder="O que você precisa fazer?" autofocus="true">
        </div>
        <div class="list-group-item" ng-repeat="todo in ts.todos">
            <div ng-hide="editTodo == todo.doc">
                <i class="fa fa-check fa-2x {{todo.doc.complete ? 'text-success' : 'text-danger'}}" ng-click="completeTodo(todo.doc)"></i>
                <i class="pull-right fa fa-2x fa-times text-danger" ng-click="removeTodo(todo.doc)"></i>
                <label ng-click="editTodo = todo.doc">{{todo.doc.title}}</label>
                <abbr>{{todo.doc.user}}</abbr>
            </div>
            <input class="form-control" ng-model="editTodo.title" ng-keypress="update($event, editTodo)" ng-show="editTodo == todo.doc" placeholder="O que você precisa fazer?" autofocus="true">
        </div>
    </div>


</div>

<script src="//coffeescript.org/extras/coffee-script.js"></script>
<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-resource.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="../bower_components/pouchdb/dist/pouchdb.js"></script>
<script src="../bower_components/angular-pouchdb/dist/angular-pouchdb.js"></script>

<script src="../dist/js/teste-daniel.js"></script>
<script src="app.js"></script>
</body>
</html>
